rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{documentId} {
      allow read, delete, update: if true;
      allow create: if request.resource.data.keys().hasOnly(['text', 'is_completed', 'createdAt'])
        && request.resource.data.keys().hasAll(['text', 'is_completed', 'createdAt'])
        && request.resource.data.text is string
        && request.resource.data.is_completed is bool
        && request.resource.data.createdAt is timestamp
    }
    match /docs_count/todos {
      allow read: if true;
    }
	}
}